@media all {
  .container {
    background-image: url("https://static1.squarespace.com/static/55687b77e4b03346fd69979b/55687bc8e4b0e642ac65bd47/57bc2a10440243fdcf811bb9/1472555496466/Stranger-Things-background.png?format=1500w");
    background-color: #1e193c;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 13px;
  }
  #botones_controles {
    background-image: none;
    background-color: #C20E0E;
  }
  .button {
    background-color: #C20E0E;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
  }
  .button_control {
    background-color: #C20E0E;
    border: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
  }
  .hand {
    height: 150px;
    text-align: center;
  }
  #logo {
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 0px;
    margin-right: 0px;
  }
  #controls_partida {
    margin-left: 0px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 0px;
  }
  #titol_principal {
    color: #1e193c;
    font-family: 'Press Start 2P', cursive;
    font-size: 35px;
    margin-left: 25px;
    margin-top: 40px;
    margin-bottom: 0px;
    margin-right: 0px;
  }
  #titol_equipo {
    font-family: 'Press Start 2P', cursive;
    font-size: 22px;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 0px;
  }
  #titol_jugador {
    font-family: 'Press Start 2P', cursive;
    font-size: 22px;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 0px;
  }
  #titol_controles {
    font-family: 'Press Start 2P', cursive;
    font-size: 22px;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 0px;
  }
  #titol_brujula {
    font-family: 'Press Start 2P', cursive;
    font-size: 22px;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 0px;
  }
  #titol_objetos {
    font-family: 'Press Start 2P', cursive;
    font-size: 22px;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 0px;
  }
  #titol_navegacion {
    font-family: 'Press Start 2P', cursive;
    font-size: 22px;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 0px;
  }
  #header {
    background-color: #ff1515;
  }
  #alerta-info {
    z-index: 2;
  }
  #controles {
    background-color: #C20E0E;
    color: white;
    padding: 15px;
    margin: 5px;
  }
  #hands {
    max-width: 545px;
    background-color: #C20E0E;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    border-color: #ff1515;
    border-top-style: solid;
    border-left-style: solid;
  }
  #mochila-section {
    background-color: #C20E0E;
    color: white;
    border-color: #ff1515;
    border-top-style: solid;
    border-right-style: solid;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #fila-mochila-1 {
    background-color: #C20E0E;
    max-width: 555px;
    border-color: #ff1515;
    border-right-style: solid;
  }
  #fila-mochila-2 {
    background-color: #C20E0E;
    max-width: 555px;
    border-color: #ff1515;
    border-right-style: solid;
  }
  .col .item {
    background-color: brown;
    margin: 5px;
    padding: 5px;
    text-align: center;
    vertical-align: center;
  }
  .weapon {
    padding: 5px;
  }
  #eines {
    background-color: #C20E0E;
    color: white;
  }
  #navegacion {
    color: white;
    background-color: black;
    border-color: #ff1515;
    border-left-style: solid;
  }
  #sound {
    border-color: #ff1515;
    border-top-style: solid;
    border-bottom-style: solid;
    background-color: #C20E0E;
    cursor: pointer;
  }
  #jugador {
    background-color: #1e193c;
    color: white;
    border-color: #ff1515;
    border-right-style: solid;
  }
  #jugador p {
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 25px;
  }
  #objectes-hands {
    background-color: #C20E0E;
  }
  #left_hand {
    color: white;
    border-style: none;
    background-color: brown;
    margin: 5px;
  }
  #right_hand {
    color: white;
    border-style: none;
    background-color: brown;
    margin: 5px;
  }
  #mochila-buttons-container {
    margin-left: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 25px;
  }
  #footer {
    background-color: #ff1515;
    color: #1e193c;
  }
  #footer p {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 0px;
    font-size: 9px;
  }
  #movendavant {
    background-color: #1e193c;
  }
  #movesquerra {
    background-color: #1e193c;
  }
  #movdreta {
    background-color: #1e193c;
  }
  #movendarrere {
    background-color: #1e193c;
  }
  #video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
  }
  #title-intro {
    margin-left: 15px;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-right: 0px;
  }
  #logo2 {
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-right: 0px;
  }
  #intro-container {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    padding: 20px;
    z-index: 2;
  }
  .save-game {
    position: fixed;
    top: auto;
    background: black;
    color: white;
    width: 100%;
    padding: 50px;
    z-index: 3;
  }
  .save-button {
    margin: 20px;
  }
}
